@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
.top-image {
  background-image: url("./images-portfolio.png");
  height:600px;
  width:100%;
  margin: 0 auto;
  position: relative;
  background-size: cover;
}
.bkRGBA{
  /* 背景画像の透過用css */
  z-index:0;
  height: 600px;
  width:100%;
  position:relative;
  background: rgba(0,0,100,0.5);
}

.navbar-light .navbar-toggler{
	border:none;
	outline:none;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
