@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
.top-image {
  background-image: url("./images-portfolio.png");
  height:600px;
  width:100%;
  margin: 0 auto;
  position: relative;
  background-size: cover;
}
.bkRGBA{
  /* 背景画像の透過用css */
  z-index:0;
  height: 600px;
  width:100%;
  position:relative;
  background: rgba(0,0,100,0.5);
}

.navbar-light .navbar-toggler{
	border:none;
	outline:none;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#main_contents section h1 {
  margin:100px 0;
  letter-spacing:0.2em;
}

#main_contents h1 {
  text-align:center;
}

#main_contents .row #introduce{
  text-align:center;
}

#skills .skill_section .skill_item span {
  display:inline-block;
  background-color:#f2e0e0;
  height:10px;
  width:10px;
}

#skills .skill_section .skill_item p {
  margin-bottom: 0px;
}

.skill_item .col-xs-4 .col-md-2{
  margin-left:20px; 
}
.col-xs-4 .col-md-2 div{
  width:33.3333333%;
  padding-left:15px;
}
#skills .skill_section .row .skill_item .fill{
  background-color: blue;
}





